<page-header [action]="phActionTpl">
  <ng-template #phActionTpl> </ng-template>
</page-header>
<nz-card>
  <div nz-row>
    <div nz-col nzSpan="2"></div>
    <div nz-col nzSpan="6" style="text-align: center">T0</div>
    <div nz-col nzSpan="6" style="text-align: center">T1</div>
    <div nz-col nzSpan="6" style="text-align: center">T2</div>
  </div>
  <div nz-row *ngFor="let procedureColLists of procedureInfo" style="margin-bottom: 20px">
    <div nz-col nzSpan="24">
      <!--      {{procedureColLists.cateName}}-->
      <div nz-row>
        <div nz-col nzSpan="2" style="text-align: center; vertical-align: middle; padding-top: 50px">{{ procedureColLists.cateName }}</div>
        <div nz-col nzSpan="6" *ngFor="let procedureInfoAndCateList of procedureColLists.procedureColLists">
          <!--          {{procedureInfoAndCateList.cateName}}-->
          <!--<div nz-row *ngFor="let procedureInfoAndCateList of procedureInfoAndCateList.procedureInfoAndCateList" style="border-bottom: solid 1px;">
            <div nz-col nzSpan="24" style="text-align: center;">
              <label nz-checkbox>Checkbox</label>
              {{procedureInfoAndCateList.item}}
            </div>
          </div>-->

          <nz-table>
            <thead>
              <tr> </tr>
            </thead>
            <tbody>
              <tr *ngFor="let procedureInfoAndCateList of procedureInfoAndCateList.procedureInfoAndCateList">
                <td [nzChecked]="true"></td>
                <td>{{ procedureInfoAndCateList.item }}</td>
              </tr>
            </tbody>
          </nz-table>
        </div>
      </div>
    </div>
  </div>
</nz-card>
