<nz-card id="mycard">
  <div class="mb-md">
    <nz-switch [(ngModel)]="dark"></nz-switch> Dark
    <button nz-button (click)="two = !two" nzType="primary">Change Option</button>
  </div>
  <chart-echarts
    [option]="two ? option1 : option2"
    [theme]="dark ? 'dark' : null"
    [width]="cardWidth"
    [on]="on"
    (events)="handleEvents($event)"
    (dblclick)="changeMinMax()"
  >
  </chart-echarts>
</nz-card>
<nz-modal [(nzVisible)]="isVisible" nzTitle="The first Modal" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
  <ng-container *nzModalContent>
    <form nz-form [formGroup]="validateForm" >
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="email">Max</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="The input is not valid E-mail!">
          <input nz-input formControlName="max" id="email" />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="password" nzRequired>Min</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please input your password!">
          <input
            nz-input
            id="password"
            formControlName="min"
          />
        </nz-form-control>
      </nz-form-item>
    </form>
  </ng-container>
</nz-modal>
